/* Custom font import */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');

/* Custom properties */
:root {
    --clr-black: #000000;
    --clr-russian-violet: #0D0942ff;
    --clr-taupe-gray: #94909Dff;
    --clr-antiflash-white: #EEEDEDff;
    --clr-navy-blue: #04026Fff;
    --clr-white: #FCFCFDff;
    --clr-rebecca-purple: #672C8Fff;
}

/* CSS resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

html,
body {
    height: 100%;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1rem;
    color: var(--clr-black);
}

.current {
    color: var(--clr-taupe-gray);
    border-bottom: 4px solid var(--clr-rebecca-purple);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

header {
    padding: 1rem 0;
    background-color: var(--clr-russian-violet);
    color: var(--clr-antiflash-white);
    border-bottom: 4px solid var(--clr-antiflash-white);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
}

.nav a {
    text-decoration: none;
    color: var(--clr-antiflash-white);
    font-size: 1.1rem;
    font-weight: 700;
}

.nav a:hover {
    cursor: pointer;
    color: var(--clr-taupe-gray);
    transition: all 0.2s ease 0.1s;
}

.showcase {
    padding: 4rem 2rem;
    text-align: center;
    background-image: url(images/owlWatchShowcasePhoto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.showcase .container {
    border: 2px solid var(--clr-antiflash-white);
    background-color: var(--clr-russian-violet);
    color: var(--clr-antiflash-white);
    border-radius: 8px;
    padding: 1rem;
    max-width: 600px;
}

main {
    background: linear-gradient(var(--clr-russian-violet), var(--clr-rebecca-purple));
    color: var(--clr-antiflash-white);
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.privacy-showcase {
    background-image: url(../images/privacyBackgroundPhoto.jpg);
}

.title-card,
.scale-card,
.question-card,
.results-card {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--clr-antiflash-white);
    border-radius: 8px;
    background: linear-gradient(to right, var(--clr-navy-blue), var(--clr-rebecca-purple));
    min-width: 600px;
    max-width: 600px;
}

.scale-card,
.question-numbers {
    display: flex;
    flex-direction: column;
}

.guide-card p {
    margin: 2rem 0rem;
}

/* .question-card,
.results-section .container,
.resources-section .container {
    margin: 1rem;
    padding: 1rem 2rem;
    border: 1px solid var(--clr-antiflash-white);
    border-radius: 8px;
    background: linear-gradient(var(--clr-russian-violet), var(--clr-navy-blue));
    min-width: 25%;
    transition: ease 0.08s all 0.12s;
    max-width: 600px;
    line-height: 2rem;
}

.results-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results-section .status-container {
    min-width: 25%;
}

.question-card:hover {
    transform: scale(1.03);
}

.question-choices {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
}

.guide-list {
    list-style-type: none;
}

.justify-text {
    text-align: justify;
}

.mt-2 {
    margin-top: 2rem;
} */

img {
    max-width: 128px;
    margin: 0 auto;
}

.resources-list {
    text-align: left;
    list-style-type: square;
}

.resources-list a {
    text-decoration: none;
    color: var(--clr-antiflash-white);
}

.resources-list a:hover {
    color: var(--clr-rebecca-purple);
}

.status-photo {
    max-width: 128px;
}

input[type='radio'] {
    width: 20px;
    height: 20px;
}

input[type='radio']:hover {
    opacity: 0.5;
}

/* CSS for #question-table */

#question-table,
#scale-table {
    border-collapse: collapse;
    text-align: left;
    max-width: 600px;
    margin-top: 1.5rem;
}

#question-table th,
#question-table td,
#scale-table th,
#scale-table td {
    padding: 1rem;
    border: 1px solid var(--clr-antiflash-white);
}

#question-table .intensity-select,
#question-table .frequency-select {
    border-radius: 4px;
    padding: 0.5rem;
    color: var(--clr-black);
    width: 100%;
}

/* End of #question-table CSS */

#submit-button,
#retake-button {
    margin: 1rem 0rem;
    padding: 0.75rem 4rem;
    border: 1px solid var(--clr-antiflash-white);
    color: var(--clr-antiflash-white);
    background: linear-gradient(var(--clr-navy-blue), var(--clr-russian-violet));
    border-radius: 8px;
    transition: ease 0.08s all 0.12s;
}

#submit-button:hover,
#retake-button:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {

    html,
    body {
        font-size: 0.95rem;
    }

    .nav {
        flex-direction: column;
    }

    #question-table {
        max-width: 300px;
    }

    #question-table th,
    #question-table td,
    #scale-table th,
    #scale-table td {
        padding: 0.25rem;
    }

    #question-table .intensity-select,
    #question-table .frequency-select {
        padding: 0;
    }

    .title-card,
    .scale-card,
    .question-card,
    .results-card {
        min-width: 25%;
        max-width: 600px;
        padding: 0.5rem;
    }

}

footer {
    text-align: center;
    background-color: var(--clr-russian-violet);
    color: var(--clr-antiflash-white);
    padding: 2rem 0;
}